# === PostgreSQL ===
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# === MinIO ===
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET_NAME=

# === Logging ===
LOG_LEVEL=
DB_ECHO=

# === Service ===
SERVICE_TIMEOUT=

