# === PostgreSQL ===
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5435
DB_NAME=photo_analysis

# === MinIO ===
MINIO_ENDPOINT=localhost:9100
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET_NAME=photo-bucket

# === Logging ===
LOG_LEVEL=INFO
DB_ECHO=false

# === gRPC Analyzer ===
ANALYSIS_GRPC_URL=45.132.19.101:50051

# === VK Auth ===
VK_SECRET_KEY=your_vk_secret_key_here
JWT_EXPIRE_MINUTES=525600

# === Service ===
SERVICE_TIMEOUT=10

